<div class="wrapper">



    <section class="container">
        {{!-- <div class="col-4 col-m-6 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h1>Welcome, {{name}}! </h1>
                    <div class="card-body">
                        <h2>Here are the projects that are assigned to you!</h2>
                    </div>
                </div>
            </div>
        </div> --}}

        <div class="card text-center">
            <div class="card-header">
                Assign it!
            </div>
            <div class="card-body">
                <h5 class="card-title">Welcome, {{name}}!</h5>
                <p class="card-text">Here are the projects that are assigned to you. If you have any quesitons, please
                    reach out to your manager. Thank you!</p>

            </div>
            <div class="card-footer text-muted">
                {{role}}
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-m-6 col-sm-6">



                {{#if tasks.length}}
                {{#each tasks as | task |}}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{task.title}}</h5>
                    </div>
                    <div class="card-body">

                        <p class="card-text"> {{task.task}}
                        </p>

                    </div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="complete">Completed</option>
                        <option value="in-progress">In Progress</option>
                        <input class="btn btn-primary" type="submit" value="Update">

                    </select>
                </div>
                {{/each}}
                {{/if}}


            </div>



        </div>
</div>
</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="js/employee.js"></script>
<footer>
    <h3>Designed by Joseph, Adrian, Petr, & Jeph</h3>
    <p> &#169; 2021</p>
</footer>